@charset "utf-8";
/*@import url(http://fonts.googleapis.com/css?family=Roboto);*/

body {

  background-image: url("../images/sky_c.jpg");
  background-size: auto;
  background-repeat: repeat;
  background-position: center;  


}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
