@charset "utf-8";
/*@import url(http://fonts.googleapis.com/css?family=Roboto);*/

body {

  /*background-image: url("../images/sky.jpg");*/
  background-color:white;
  background-size: auto;
  background-repeat: repeat;
  background-position: center;  


}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

table.highlight > tbody > tr:hover {
  background-color: grey;
}

.padding{
	padding-bottom: 20px;
}

#parallax-queries{
      height: 20em;
}

#table-container{

	width: 90%;
}

#sortby{
	margin: -30px;
}